@using TennisBookings.Web.Core
@model TennisBookings.Web.Areas.Admin.ViewModels.BookingListerViewModel
@{
    ViewData["Title"] = "Upload Complete";
}

<h1>@ViewData["Title"]</h1>

<p>Your results have been uploaded and processed successfully!</p>
