<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="ADONETSamples" connectionString="Server=Localhost;Database=ADONETSamples;Trusted_Connection=Yes;Application Name=ADO.NET Samples" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
</configuration>