@{
  ViewBag.Title = "Home Page";
}

<div class="jumbotron">
  <h1>ADO.NET Data Wrapper Sample</h1>
  <p class="lead">These samples illustrate how to use the ADO.NET Data Wrapper Classes.</p>
</div>

<div class="row">
  <div class="col-sm-4">
    <h3>Dynamic SQL</h3>
    <ul class="list-group">
      <li class="list-group-item"><a href="/DynamicSQL/ProductGet">Get Products (DataReader)</a></li>
      <li class="list-group-item"><a href="/DynamicSQL/ProductGetDataSet">Get Products (DataSet)</a></li>
      <li class="list-group-item"><a href="/DynamicSQL/ProductModify">Modify Product Data</a></li>
    </ul>
  </div>

  <div class="col-sm-4">
    <h3>Stored Procedures</h3>
    <ul class="list-group">
      <li class="list-group-item"><a href="/StoredProcedures/ProductGet">Get Products (DataReader)</a></li>
      <li class="list-group-item"><a href="/StoredProcedures/ProductGetDataSet">Get Products (DataSet)</a></li>
      <li class="list-group-item"><a href="/StoredProcedures/ProductModify">Modify Product Data</a></li>
    </ul>
  </div>

  <div class="col-sm-4">
    <h3>Column Attribute</h3>
    <ul class="list-group">
      <li class="list-group-item"><a href="/Attributes/ProductCategoryGet">Get Categories (DataReader)</a></li>
    </ul>
  </div>
</div>