@using TennisBookings.Web.Core
@model TennisBookings.Web.Areas.Admin.ViewModels.BookingListerViewModel
@{
    ViewData["Title"] = "Upload Failed";
}

<h1>@ViewData["Title"]</h1>

<p>Your results could not be uploaded! Please try again later.</p>
