@{
    ViewBag.Title = "Carved Rock Fitness";
}

<!-- MOBILE SEARCH -->
<section class="header-nav--search d-block d-sm-block d-md-none">
    <form class="form-inline form-inline">
        <input aria-label="Search" class="form-control" placeholder="What can we help you find?" type="search">
    </form>
</section>


<!-- SALE BANNER -->
<div class="container crf-cigar-banner">
    <div class="row">
        <div class="crf-cigar-banner--container d-flex justify-content-center align-items-center">
            <img alt="Brown Boots" class="order-sm-0 order-md-0" src="https://www.pluralsight.com/content/dam/pluralsight2/teach/author-tools/carved-rock-fitness/img-brownboots.jpg">
            <div class="crf-cigar-banner--text order-sm-2 order-md-1">
                <div class="text-light">Walk for Cancer Research</div>
                <div class="text-secondary">Saturday, January 12th</div>
                <div class="text-primary">More information in the volunteer pages</div>
            </div>
            <img alt="Grey Boots" class="order-sm-1 order-md-2" src="https://www.pluralsight.com/content/dam/pluralsight2/teach/author-tools/carved-rock-fitness/img-greyboots.jpg">
        </div>
    </div>
</div>

